<!DOCTYPE html>
<html>
<head>
  <title>Select Items</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/selection.js" defer></script>
</head>
<body>
  <h1>Select Items</h1>
  <ul id="items">
    <% bill.items.forEach(item => { %>
      <li data-item="<%= item.name %>" class="item">
        <%= item.name %> 
        <span class="selected-by">
          <% item.selectedBy.forEach(selection => { %>
            <span style="color: <%= selection.color %>"><%= selection.name %></span>
          <% }) %>
        </span>
      </li>
    <% }) %>
  </ul>
  <ul id="participants">
    <% participants.forEach(participant => { %>
      <li style="color: <%= participant.color %>"><%= participant.name %></li>
    <% }) %>
  </ul>
</body>
</html>
